@charset "UTF-8";
#topWrap {
  height: 138px;
}

#topWrap #topWrap_cont {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}

#topWrap #topWrap_cont .top_log {
  height: 40px;
  background: #333;
}

#topWrap #topWrap_cont .top_log .ul_1 {
  float: left;
  height: 40px;
}

#topWrap #topWrap_cont .top_log .ul_1 li {
  font-size: 12px;
  float: left;
}

#topWrap #topWrap_cont .top_log .ul_1 li a {
  color: #b0b0b0;
  height: 40px;
  line-height: 40px;
}

#topWrap #topWrap_cont .top_log .ul_1 li a:hover {
  color: #fff;
}

#topWrap #topWrap_cont .top_log .ul_1 li span {
  color: #3b4040;
  margin: 0 6px;
}

#topWrap #topWrap_cont .top_log aside {
  float: right;
  height: 40px;
  width: 118px;
  background: #424242;
}

#topWrap #topWrap_cont .top_log aside:hover {
  background: #fff;
  cursor: pointer;
}

#topWrap #topWrap_cont .top_log aside:hover h2 {
  color: #ff6700;
}

#topWrap #topWrap_cont .top_log aside:hover h2 .iconfont {
  color: #ff6700;
}

#topWrap #topWrap_cont .top_log aside h2 {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  color: #b0b0b0;
}

#topWrap #topWrap_cont .top_log aside h2 .iconfont {
  color: #b0b0b0;
  padding: 0 5px 0 12px;
}

#topWrap #topWrap_cont .top_log aside h2 span {
  padding-left: 8px;
}

#topWrap #topWrap_cont .top_log .ul_2 {
  height: 40px;
  width: 160px;
  float: right;
}

#topWrap #topWrap_cont .top_log .ul_2 li {
  float: left;
  font-size: 12px;
}

#topWrap #topWrap_cont .top_log .ul_2 li a {
  color: #b0b0b0;
  height: 40px;
  line-height: 40px;
}

#topWrap #topWrap_cont .top_log .ul_2 li a:hover {
  color: #fff;
}

#topWrap #topWrap_cont .top_log .ul_2 li span {
  color: #3b4040;
  margin: 0 6px;
}

#topWrap #topWrap_cont #header {
  /*background-color:#f9f9f9;*/
  height: 98px;
  line-height: 98px;
  border-bottom: #c9c9c9 2px solid;
  position: relative;
  z-index: 10;
  background-repeat: repeat;
}

#topWrap #topWrap_cont #header_logo {
  width: 55px;
  height: 98px;
  background: url(../images/mi_03.jpg) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/mi_03.jpg");
}

#topWrap #topWrap_cont #header_nav {
  line-height: 98px;
}

#topWrap #topWrap_cont #header_menu_list {
  width: 860px;
  height: 98px;
  margin-left: 150px;
  margin-bottom: 0;
}

#topWrap #topWrap_cont .header_menu_list {
  width: 12%;
  height: 98px;
  float: left;
  line-height: 68px;
  text-align: center;
  font-size: 18px;
  color: #8e8e8e;
  position: relative;
  text-align: center;
}

#topWrap #topWrap_cont .header_menu_list a {
  height: 98px;
  line-height: 98px;
  width: 100%;
  font-size: 16px;
  color: #333;
  display: inline-block;
  text-decoration: none;
  transition: font-size 0.2s, color 0.5s;
}

#topWrap #topWrap_cont .header_menu_list_checked a {
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

#topWrap #topWrap_cont .header_menu_list a:hover {
  font-size: 18px;
  color: #ff6700;
}

#topWrap #topWrap_cont #header_search {
  width: 298px;
  height: 50px;
  position: absolute;
  top: 26px;
  right: 10px;
  background-color: #edeeef;
}

#topWrap #topWrap_cont #header_menu_details {
  /*overflow:hidden;*/
  display: none;
  position: absolute;
  background-color: #f3f3f3;
  width: 100%;
  height: 200px;
  background-repeat: x-repeat;
}

#topWrap #topWrap_cont .header_search_text {
  width: 150px;
  height: 50px;
  font-family: '微软雅黑';
  font-size: 12px;
  color: #8e8e8e;
  background-color: transparent;
  border: none;
  outline-style: none;
  line-height: 50px;
  text-indent: 5px;
  float: left;
}

#topWrap #topWrap_cont .header_search_subm {
  width: 47px;
  height: 50px;
  float: right;
  background-color: #ff6700;
  border: none;
  outline-style: none;
  background-image: url("../images/zoomIn.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#topWrap #topWrap_cont .header_detail_container {
  width: 1000px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

#topWrap #topWrap_cont #header_menu_details_box {
  width: 1000px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#topWrap #topWrap_cont #header_menu_details_mask {
  width: 6000px;
  height: 200px;
  position: absolute;
}

#topWrap #topWrap_cont .header_detail_box {
  float: left;
}

#topWrap #topWrap_cont .header_detail_box {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#topWrap #topWrap_cont .header_detail_img {
  width: 160px;
  height: 110px;
  background-size: cover;
  margin-top: 20px;
}

#topWrap #topWrap_cont .header_detail_title img {
  display: inline-block;
  margin-right: 8px;
  width: 160px;
  height: 110px;
}

#topWrap #topWrap_cont .header_detail_title {
  text-align: center;
}

#topWrap #topWrap_cont .header_detail_title_type {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding-top: 16px;
}

#topWrap #topWrap_cont .header_detail_title_price {
  font-size: 12px;
  color: #ff6700;
  height: 20px;
  line-height: 20px;
}

#banner {
  width: 1200px;
  margin: 0 auto;
  height: 460px;
  position: relative;
  overflow: hidden;
}

#banner #banner_cont {
  height: 100%;
}

#banner #banner_cont .banner_img {
  width: 800%;
  height: 100%;
  position: absolute;
  left: -1200px;
  top: 0;
  transition: left 0.3s;
}

#banner #banner_cont .banner_img li {
  float: left;
  width: 1200px;
  height: 100%;
}

#banner #banner_cont .banner_img li img {
  width: 1200px;
  height: 460px;
}

#banner #banner_cont .containor {
  height: 100%;
  background: rgba(105, 101, 101, 0.6);
  position: absolute;
  width: 235px;
  top: 0;
  left: 0;
}

#banner #banner_cont .btn {
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  font-weight: bold;
}

#banner #banner_cont .btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

#banner #banner_cont #prev {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  left: 234px;
  width: 38px;
}

#banner #banner_cont #next {
  right: -15px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

#banner #banner_cont .banner_points {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 5px;
  right: 20px;
}

#banner #banner_cont .banner_points .points_lis {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(150, 150, 150, 0.6);
  /* 非高亮 */
}

#banner #banner_cont .banner_points .points_lis:hover,
#banner #banner_cont .banner_points .points_lis_active {
  background: rgba(255, 255, 255, 0.6);
  /* 高亮显示 */
  cursor: pointer;
}

#case_1 {
  margin: 18px 0 28px 0;
  height: 170px;
}

#case_1 #case1_cont {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}

#case_1 #case1_cont ul {
  height: 170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#case_1 #case1_cont ul li {
  width: 308px;
  height: 170px;
}

#case_1 #case1_cont ul li img {
  height: 100%;
  width: 100%;
}

#case_1 #case1_cont ul .li_first {
  width: 235px;
}

#Flash_purchase {
  height: 550px;
  width: 100%;
  background: #f5f5f5;
}

#Flash_purchase #Flash_cont {
  height: 100%;
  margin: 0 auto;
  width: 1200px;
}

#Flash_purchase #Flash_cont h2 {
  height: 58px;
  line-height: 58px;
  font-size: 18px;
  position: relative;
}

#Flash_purchase #Flash_cont .Flash_cont_daojishi {
  height: 340px;
  width: 100%;
  overflow: hidden;
}

#Flash_purchase #Flash_cont .Flash_cont_daojishi .box_hd {
  width: 230px;
  height: 100%;
  padding-top: 39px;
  border-top-width: 1px;
  border-top-style: solid;
  background: #f1eded;
  text-align: center;
  box-sizing: border-box;
  float: left;
}

#Flash_purchase #Flash_cont .Flash_cont_daojishi .box_hd .round {
  font-size: 21px;
  color: #ef3a3b;
  padding-top: 15px;
}

#Flash_purchase #Flash_cont .Flash_cont_daojishi .box_hd img {
  margin: 25px auto;
}

#Flash_purchase #Flash_cont .Flash_cont_daojishi .box_hd .desc {
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
}

#Flash_purchase #Flash_cont .Flash_cont_daojishi .box_hd .countdown {
  width: 168px;
  margin: 28px auto 0;
}

#Flash_purchase #Flash_cont .Flash_cont_daojishi .box_hd .countdown span {
  width: 46px;
  height: 46px;
  background: #605751;
  color: #fff;
  font-size: 24px;
  line-height: 46px;
  float: left;
}

#Flash_purchase #Flash_cont .Flash_cont_daojishi .box_hd .countdown i {
  width: 15px;
  float: left;
  height: 46px;
  line-height: 46px;
  color: #605751;
  font-size: 28px;
  font-style: normal;
}

#Flash_purchase #Flash_cont .Flash_cont_daojishi .swiper-container {
  width: 960px;
  height: 340px;
  float: right;
}

#Flash_purchase #Flash_cont .Flash_cont_daojishi .swiper-container .content {
  display: block;
  height: 300px;
  padding-top: 39px;
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Flash_purchase #Flash_cont .Flash_cont_daojishi .swiper-container .content aside {
  height: 160px;
  width: 160px;
}

#Flash_purchase #Flash_cont .Flash_cont_daojishi .swiper-container .content aside img {
  height: 100%;
  width: 100%;
}

#Flash_purchase #Flash_cont .Flash_cont_daojishi .swiper-container .content .title {
  margin: 0 20px 3px;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  color: #212121;
  overflow: hidden;
  white-space: nowrap;
}

#Flash_purchase #Flash_cont .Flash_cont_daojishi .swiper-container .content .desc {
  height: 18px;
  margin: 0 20px 12px;
  font-size: 12px;
  text-overflow: ellipsis;
  color: #b0b0b0;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0;
}

#Flash_purchase #Flash_cont .Flash_cont_daojishi .swiper-container .content .price {
  margin: 0;
  color: #ff6709;
  font-size: 12px;
}

#Flash_purchase #Flash_cont .Flash_cont_daojishi .swiper-container .content .price del {
  color: #b0b0b0;
}

#Flash_purchase #Flash_cont .home-banner-box {
  height: 100%;
  padding-top: 25px;
}

#Flash_purchase #Flash_cont .home-banner-box a {
  display: block;
  height: 120px;
}

#Flash_purchase #Flash_cont .home-banner-box a img {
  height: 100%;
  width: 100%;
}

#case_2 {
  height: 100%;
  background: #f5f5f5;
}

#case_2 #case2_cont {
  width: 1200px;
  height: 674px;
  margin: 0 auto;
  overflow: hidden;
}

#case_2 #case2_cont section h2 {
  height: 60px;
  line-height: 60px;
  font-size: 30px;
}

#case_2 #case2_cont .left {
  width: 234px;
  height: 614px;
  float: left;
}

#case_2 #case2_cont .right {
  width: 940px;
  height: 614px;
  float: right;
  /*margin-left: 10px;*/
}

#case_2 #case2_cont .right .cp-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#case_2 #case2_cont .right .cp-list section {
  display: flex;
  justify-content: space-between;
}

#case_2 #case2_cont .right .cp-list section aside {
  width: 223px;
  height: 298px;
  background: #fff;
  transition: all .2s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 30px;
}

#case_2 #case2_cont .right .cp-list section aside:hover {
  box-shadow: 5px 5px 30px #ccc;
  margin-top: -2px;
  cursor: pointer;
}

#case_2 #case2_cont .right .cp-list section aside .as_img {
  width: 160px;
  height: 160px;
}

#case_2 #case2_cont .right .cp-list section aside .as_img img {
  width: 100%;
  height: 100%;
}

#case_2 #case2_cont .right .cp-list section aside h3 {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

#case_2 #case2_cont .right .cp-list section aside .des {
  height: 18px;
  font-size: 12px;
  color: #b0b0b0;
}

#case_2 #case2_cont .right .cp-list section aside .Price {
  margin: 10px 0 10px 0;
  color: #ff6700;
}

#case_2 #case2_cont .right .cp-list section aside .Price del {
  color: #b0b0b0;
  font-size: 14px;
}

#case_2 .home-banner-box {
  width: 1200px;
  height: 155px;
  padding-top: 25px;
  margin: 0 auto;
}

#case_2 .home-banner-box a {
  display: block;
  height: 120px;
}

#case_2 .home-banner-box a img {
  height: 100%;
  width: 100%;
}

#case_3 {
  height: 100%;
  background: #f5f5f5;
}

#case_3 #case3_cont {
  width: 1200px;
  height: 674px;
  margin: 0 auto;
}

#case_3 #case3_cont .sec {
  height: 60px;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
}

#case_3 #case3_cont .sec h2 {
  font-size: 18px;
}

#case_3 #case3_cont .sec p {
  width: 136px;
  display: flex;
  justify-content: space-between;
}

#case_3 #case3_cont .sec p span {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}

#case_3 #case3_cont .sec p .active1 {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}

#case_3 #case3_cont .left {
  width: 234px;
  height: 614px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#case_3 #case3_cont .left aside {
  width: 223px;
  height: 298px;
  transition: all .2s linear;
}

#case_3 #case3_cont .left aside:hover {
  box-shadow: 5px 5px 30px #ccc;
  margin-top: -2px;
  cursor: pointer;
}

#case_3 #case3_cont .left aside a {
  display: block;
  width: 100%;
  height: 100%;
}

#case_3 #case3_cont .left aside a img {
  height: 100%;
  width: 100%;
}

#case_3 #case3_cont .right {
  width: 940px;
  height: 614px;
  float: right;
  /*margin-left: 10px;*/
}

#case_3 #case3_cont .right ul {
  height: 100%;
}

#case_3 #case3_cont .right ul .active2 {
  display: block;
}

#case_3 #case3_cont .right ul li {
  height: 100%;
  display: none;
}

#case_3 #case3_cont .right ul li #cp_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#case_3 #case3_cont .right ul li #cp_list section {
  display: flex;
  justify-content: space-between;
}

#case_3 #case3_cont .right ul li #cp_list section aside {
  width: 223px;
  height: 298px;
  background: #fff;
  transition: all .2s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 30px;
}

#case_3 #case3_cont .right ul li #cp_list section aside:hover {
  box-shadow: 5px 5px 30px #ccc;
  margin-top: -2px;
  cursor: pointer;
}

#case_3 #case3_cont .right ul li #cp_list section aside .as_img {
  width: 160px;
  height: 160px;
}

#case_3 #case3_cont .right ul li #cp_list section aside .as_img img {
  width: 100%;
  height: 100%;
}

#case_3 #case3_cont .right ul li #cp_list section aside h3 {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

#case_3 #case3_cont .right ul li #cp_list section aside .des {
  height: 18px;
  font-size: 12px;
  color: #b0b0b0;
}

#case_3 #case3_cont .right ul li #cp_list section aside .Price {
  margin: 10px 0 10px 0;
  color: #ff6700;
}

#case_3 #case3_cont .right ul li #cp_list section aside .Price del {
  color: #b0b0b0;
  font-size: 14px;
}

#case_3 #case3_cont .right ul li #cp_list .aside_last {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 223px;
  height: 298px;
}

#case_3 #case3_cont .right ul li #cp_list .aside_last .aside_chil {
  height: 143px;
  width: 223px;
  position: relative;
}

#case_3 #case3_cont .right ul li #cp_list .aside_last .aside_chil a {
  display: block;
  height: 80px;
  width: 100%;
}

#case_3 #case3_cont .right ul li #cp_list .aside_last .aside_chil a p {
  height: 60px;
  width: 93px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 42px;
  left: 20px;
  color: #333;
  font-size: 14px;
}

#case_3 #case3_cont .right ul li #cp_list .aside_last .aside_chil a p span {
  color: #ff6700;
  font-size: 12px;
}

#case_3 #case3_cont .right ul li #cp_list .aside_last .aside_chil a .Img {
  position: absolute;
  right: 20px;
  top: 32px;
  width: 80px;
  height: 80px;
}

#case_3 #case3_cont .right ul li #cp_list .aside_last .aside_chil a .Img img {
  height: 100%;
  width: 100%;
}

#case_3 #case3_cont .right ul li #cp_list .aside_last .aside_chil a .Img .iconfont {
  font-size: 60px;
  color: #ff6700;
}

#case_3 .home-banner-box {
  width: 1200px;
  height: 155px;
  padding-top: 25px;
  margin: 0 auto;
}

#case_3 .home-banner-box a {
  display: block;
  height: 120px;
}

#case_3 .home-banner-box a img {
  height: 100%;
  width: 100%;
}

#case_4 {
  height: 100%;
  background: #f5f5f5;
}

#case_4 #case4_cont {
  width: 1200px;
  height: 674px;
  margin: 0 auto;
}

#case_4 #case4_cont .sec {
  height: 60px;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
}

#case_4 #case4_cont .sec h2 {
  font-size: 18px;
}

#case_4 #case4_cont .sec p {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

#case_4 #case4_cont .sec p span {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  cursor: pointer;
}

#case_4 #case4_cont .sec p .active1 {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}

#case_4 #case4_cont .left {
  width: 234px;
  height: 614px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#case_4 #case4_cont .left aside {
  width: 223px;
  height: 298px;
  transition: all .2s linear;
}

#case_4 #case4_cont .left aside:hover {
  box-shadow: 5px 5px 30px #ccc;
  margin-top: -2px;
  cursor: pointer;
}

#case_4 #case4_cont .left aside a {
  display: block;
  width: 100%;
  height: 100%;
}

#case_4 #case4_cont .left aside a img {
  height: 100%;
  width: 100%;
}

#case_4 #case4_cont .right {
  width: 940px;
  height: 614px;
  float: right;
  /*margin-left: 10px;*/
}

#case_4 #case4_cont .right ul {
  height: 100%;
}

#case_4 #case4_cont .right ul .active2 {
  display: block;
}

#case_4 #case4_cont .right ul li {
  height: 100%;
  display: none;
}

#case_4 #case4_cont .right ul li #cp_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#case_4 #case4_cont .right ul li #cp_list section {
  display: flex;
  justify-content: space-between;
}

#case_4 #case4_cont .right ul li #cp_list section aside {
  width: 223px;
  height: 298px;
  background: #fff;
  transition: all .2s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 30px;
}

#case_4 #case4_cont .right ul li #cp_list section aside:hover {
  box-shadow: 5px 5px 30px #ccc;
  margin-top: -2px;
  cursor: pointer;
}

#case_4 #case4_cont .right ul li #cp_list section aside .as_img {
  width: 160px;
  height: 160px;
}

#case_4 #case4_cont .right ul li #cp_list section aside .as_img img {
  width: 100%;
  height: 100%;
}

#case_4 #case4_cont .right ul li #cp_list section aside h3 {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

#case_4 #case4_cont .right ul li #cp_list section aside .des {
  height: 18px;
  font-size: 12px;
  color: #b0b0b0;
}

#case_4 #case4_cont .right ul li #cp_list section aside .Price {
  margin: 10px 0 10px 0;
  color: #ff6700;
}

#case_4 #case4_cont .right ul li #cp_list section aside .Price del {
  color: #b0b0b0;
  font-size: 14px;
}

#case_4 #case4_cont .right ul li #cp_list .aside_last {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 223px;
  height: 298px;
}

#case_4 #case4_cont .right ul li #cp_list .aside_last .aside_chil {
  height: 143px;
  width: 223px;
  position: relative;
}

#case_4 #case4_cont .right ul li #cp_list .aside_last .aside_chil a {
  display: block;
  height: 80px;
  width: 100%;
}

#case_4 #case4_cont .right ul li #cp_list .aside_last .aside_chil a p {
  height: 60px;
  width: 93px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 42px;
  left: 20px;
  color: #333;
  font-size: 14px;
}

#case_4 #case4_cont .right ul li #cp_list .aside_last .aside_chil a p span {
  color: #ff6700;
  font-size: 12px;
}

#case_4 #case4_cont .right ul li #cp_list .aside_last .aside_chil a .Img {
  position: absolute;
  right: 20px;
  top: 32px;
  width: 80px;
  height: 80px;
}

#case_4 #case4_cont .right ul li #cp_list .aside_last .aside_chil a .Img img {
  height: 100%;
  width: 100%;
}

#case_4 #case4_cont .right ul li #cp_list .aside_last .aside_chil a .Img .iconfont {
  font-size: 60px;
  color: #ff6700;
}

#case_4 .home-banner-box {
  width: 1200px;
  height: 155px;
  padding-top: 25px;
  margin: 0 auto;
}

#case_4 .home-banner-box a {
  display: block;
  height: 120px;
}

#case_4 .home-banner-box a img {
  height: 100%;
  width: 100%;
}

#video {
  height: 380px;
  background: #f5f5f5;
}

#video #video_cont {
  height: 320px;
  width: 1200px;
  margin: 0 auto;
}

#video #video_cont .header {
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

#video #video_cont .header a {
  color: #333;
  transition: all 0.3s;
}

#video #video_cont .header a .iconfont {
  padding-left: 6px;
  font-size: 18px;
  color: #b0b0b0;
}

#video #video_cont .header a:hover {
  color: #ff6700;
  cursor: pointer;
}

#video #video_cont .header a:hover .iconfont {
  color: #ff6700;
}

#video #video_cont section {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#video #video_cont section figure {
  width: 290px;
  height: 285px;
  position: relative;
  background: #fff;
  transition: all .2s linear;
  cursor: pointer;
}

#video #video_cont section figure:hover {
  box-shadow: 5px 5px 30px #ccc;
  margin-top: -2px;
  cursor: pointer;
}

#video #video_cont section figure:hover .iconfont {
  color: #ff6700;
}

#video #video_cont section figure img {
  width: 100%;
}

#video #video_cont section figure figcaption {
  font-size: 14px;
  color: #333;
  text-align: center;
  padding-top: 30px;
}

#video #video_cont section figure p {
  width: 50px;
  height: 30px;
  position: absolute;
  top: 130px;
  left: 20px;
}

#video #video_cont section figure p .iconfont {
  font-size: 30px;
  color: #fff;
}

#Friendship_links {
  height: 270px;
  background: #fff;
}

#Friendship_links #Friendship_links_cont {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}

#Friendship_links #Friendship_links_cont header {
  height: 80px;
  border-bottom: 1px solid #e0e0e0;
}

#Friendship_links #Friendship_links_cont header ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Friendship_links #Friendship_links_cont header ul li {
  width: 19.8%;
  height: 24px;
  line-height: 24px;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

#Friendship_links #Friendship_links_cont header ul li:hover .iconfont,
#Friendship_links #Friendship_links_cont header ul li:hover span {
  color: #ff6700;
  cursor: pointer;
}

#Friendship_links #Friendship_links_cont header ul li .iconfont {
  padding-right: 8px;
  font-size: 30px;
  vertical-align: baseline;
  color: #616161;
}

#Friendship_links #Friendship_links_cont header ul li span {
  margin-right: 6px;
  font-size: 16px;
  vertical-align: 4px;
  color: #616161;
}

#Friendship_links #Friendship_links_cont header ul li em {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 1px;
  height: 25px;
  background: url(../images/lis_bg_03.jpg) no-repeat;
}

#Friendship_links #Friendship_links_cont main {
  width: 100%;
  height: 189px;
  display: flex;
  justify-content: space-between;
}

#Friendship_links #Friendship_links_cont main section {
  height: 189px;
  display: flex;
  width: 960px;
  justify-content: space-between;
}

#Friendship_links #Friendship_links_cont main section ul {
  width: 16.5%;
  height: 100%;
}

#Friendship_links #Friendship_links_cont main section ul h3 {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #424242;
  margin-top: 36px;
}

#Friendship_links #Friendship_links_cont main section ul li {
  margin: 10px 0 0;
  font-size: 12px;
  color: #757575;
}

#Friendship_links #Friendship_links_cont main section ul li:hover {
  color: #ff6700;
  cursor: pointer;
}

#Friendship_links #Friendship_links_cont main .main_r {
  flex: 1;
  position: relative;
  text-align: center;
  padding-top: 36px;
  box-sizing: border-box;
}

#Friendship_links #Friendship_links_cont main .main_r em {
  display: inline-block;
  height: 112px;
  width: 1px;
  position: absolute;
  background: url(../images/sec_bg_03.jpg) no-repeat;
  left: 0;
  top: 36px;
}

#Friendship_links #Friendship_links_cont main .main_r .phone {
  font-size: 22px;
  line-height: 1;
  color: #ff6700;
  padding-bottom: 10px;
}

#Friendship_links #Friendship_links_cont main .main_r .time {
  font-size: 12px;
}

#Friendship_links #Friendship_links_cont main .main_r a {
  color: #ff6700;
}

#Friendship_links #Friendship_links_cont main .main_r a section {
  width: 118px;
  height: 30px;
  border: 1px solid #ff6700;
  margin-left: 60px;
  margin-top: 16px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

#Friendship_links #Friendship_links_cont main .main_r a section:hover {
  background: #ff6700;
  color: #fff;
}

#Friendship_links #Friendship_links_cont main .main_r a section .iconfont {
  padding-right: 5px;
}

#footer {
  height: 230px;
  background: #fafafa;
}

#footer #footer_cont {
  height: 100%;
  width: 1200px;
  margin: auto;
  padding-top: 30px;
}

#footer #footer_cont .content_lis {
  height: 100px;
  display: flex;
}

#footer #footer_cont .content_lis section {
  height: 58px;
  width: 58px;
  background: url(../images/mi_footer_03.jpg) no-repeat;
}

#footer #footer_cont .content_lis .footer_r {
  padding-left: 10px;
}

#footer #footer_cont .content_lis .footer_r .sites {
  font-size: 12px;
  padding-bottom: 10px;
}

#footer #footer_cont .content_lis .footer_r .sites a {
  color: #757575;
}

#footer #footer_cont .content_lis .footer_r .sites a:hover {
  color: #ff6700;
}

#footer #footer_cont .content_lis .footer_r .sites span {
  color: #757575;
}

#footer #footer_cont .content_lis .footer_r .list_link {
  font-size: 12px;
  color: #b0b0b0;
}

#footer #footer_cont .content_lis .footer_r .list_link a {
  color: #b0b0b0;
  cursor: pointer;
}

#footer #footer_cont .content_lis .footer_r .list_link a:hover {
  color: #ff6700;
}

#footer #footer_cont .content_lis .footer_r .img_link {
  padding-top: 10px;
}

#footer #footer_cont .content_lis .footer_r .img_link a {
  display: inline-block;
  height: 32px;
  width: 85px;
}

#footer #footer_cont .content_lis .footer_r .img_link a img {
  height: 100%;
  width: 100%;
}

#footer #footer_cont .content_lis .footer_r .slogan {
  text-indent: -9999em;
  clear: both;
  margin: 50px auto 0;
  width: 267px;
  height: 19px;
  background: url(../images/foot_txt_07.jpg) no-repeat;
}
