.nav_left {
  width: 235px;
  height: 500px;
  box-sizing: border-box;
  padding-top: 20px;
}

.nav_left ul {
  width: 235px;
  height: auto;
}

.nav_left ul li {
  height: 40px;
  line-height: 40px;
  text-align: left;
  cursor: pointer;
  width: 235px;
}

.nav_left ul li span {
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  display: block;
  padding-left: 30px;
  color: #e0dcd0;
  font-size: 14px;
}

.nav_left ul li span .iconfont {
  float: right;
  padding-right: 20px;
  font-size: 20px;
}

.nav_left ul li span:hover {
  color: #fff;
  background: #ff6700;
}

.nav_right {
  width: 800px;
  height: 500px;
  position: absolute;
  margin-left: 235px;
  top: 0px;
  z-index: 10;
}

.sub {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 480px;
  background: #FFFFFF;
  padding: 10px 0px;
}

.sub dl {
  overflow: hidden;
  padding: 0px 0px 10px 0px;
}

.sub dt {
  width: 100px;
  float: left;
  display: block;
  position: relative;
  clear: left;
}

.sub dt a {
  font-size: 14px;
  color: #000;
  font-weight: bold;
  text-align: center;
  padding-left: 20px;
  text-decoration: none;
  cursor: pointer;
}

.sub dt i {
  width: 4px;
  right: 12px;
  top: 2px;
  font-size: 14px;
  position: absolute;
  font-style: normal;
}

.sub dd {
  width: 680px;
  float: left;
  display: block;
  position: relative;
  overflow: hidden;
  padding-right: 20px;
  border-bottom: 1px dashed #E3E3E3;
}

.sub dd a {
  font-size: 12px;
  float: left;
  color: #666;
  padding: 0 10px;
  margin: 4px 0px 10px 0px;
  text-decoration: none;
  cursor: pointer;
  border-left: 1px solid #E3E3E3;
}

.sub dd a:hover {
  color: #FF0036;
}

.hide {
  display: none;
}

.show {
  display: block;
}
